* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html, body {
  height: 100%;
}


.first {
	text-align: center;
	height: 100%;
	background-color: #FFFFFF;
}

.second {

	height: 90%;
	text-align: center;
	margin: 20px 45px;
	background-color: #ffbcba;
}

.third {
		height: 80%;
		margin: 60px 45px;
		text-align: center;
		background-color: #FFFFFF
}

#nav{
	font-family: 'Montserrat', sans-serif;

}

#nav ul li {
	display: inline;
	float: left;
	padding: 20px 25px 20px 50px;
}

#nav ul li a {
	text-decoration: none
}

#slogan {
	margin: 20px 0px 0px 0px;
	color: #0b1252;
	font-weight: bold;
}


.slogann p {
	margin: 10px 1340px 0px 0px !important ;
	font-size: 200% !important;
}


#slogannn {
	margin: 10px 1425px 0px 0px !important ;
	font-size: 200% !important;
}

#slogannnn {
	margin: 130px 1355px 0px 0px !important ;
	font-size: 200% !important;
}

#button1 {
	margin: 80px 1430px 0px 0px;
	background-color: #ff057a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 40px;
    font-weight: bold;
}

h1 {
	    visibility: hidden;

}