* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html, body {
  height: 100%;
}


.first {
	text-align: center;
	height: 100%;
	background-color: #FFFFFF;
}

.second {

	height: 90%;
	text-align: center;
	margin: 20px 45px;
	background-color: #ffbcba;
}

.third {
		height: 80%;
		margin: 60px 45px;
		text-align: center;
		background-color: #FFFFFF
}

#nav{
	font-family: 'Montserrat', sans-serif;

}

#nav ul li {
	display: inline;
	float: left;
	padding: 20px 25px 20px 50px;
}

#nav ul li a {
	text-decoration: none
}